.contenedor__footer{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
    // padding: 10px 70px 10px 70px;
    .logoFooter{
        margin-top: 1.5rem;
        h1{
            margin: 0px;
            font-size: xx-large;
        }
    }
    .atajos1{
        margin-top: 1.5rem;
        ul{
            list-style: none;
            line-height: 2rem;
        }
        a{
            text-decoration: none;
            color: grey;
            &:hover{
                color: black;
            }
        }
    }
    .atajos2{
        margin-top: 1.5rem;
        ul{
            list-style: none;
            line-height: 2rem;
        }
        a{

            text-decoration: none;
            color: grey;
            &:hover{
                color: black;
            }
        }
    }
    .contact{
        margin-top: 1.5rem;
        color: grey;
        ul{
            list-style: none;
            i{
                margin-right: 0.6rem;
            }
            p{
                margin-bottom: 0.7rem;
            }
            a{
                text-decoration: none;
                color: grey;
                &:hover{
                    color: black;
                }
            }
        }
    }
    .redesSociales{
        margin-top: 1rem;
        margin-bottom: 1rem;
        .facebook{
            padding: 0.3rem;
            color: grey;
            transition: 0.5s;
            font-size: 24px;
            &:hover{
                font-size: 36px;
                color: #3b5998;
                
            }
        }
        .instagram{
            padding: 0.3rem;
            color: grey;
            transition: 0.5s;
            font-size: 24px;
            &:hover{
                font-size: 36px;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
        }
        .youtube{
            padding: 0.3rem;
            color: grey;
            transition: 0.5s;
            font-size: 24px;
            &:hover{
                font-size: 36px;
                color: #c4302b;
                
            }
        }
        .twitter{
            padding: 0.3rem;
            color: grey;
            transition: 0.5s;
            font-size: 24px;
            &:hover{
                font-size: 36px;
                color: #00acee;
            }
        }
        .pinterest{
            padding: 0.3rem;
            color: grey;
            transition: 0.5s;
            font-size: 24px;
            &:hover{
                font-size: 36px;
                color: #E60023
            }
        }
        a{
            text-decoration: none;
            }
        }

    .copyText{
        width: 100%;
        color: white;
        background-color: black;
        font-size: 13px;
        margin: 0px;
        padding: 0px;
        p{
            padding: 0.3rem 0rem 0.3rem 0rem;
            margin: 0px;
        }
    }
}