.titleEquipo{
    width: 100%;
    height: 350px;
    background-image:url(../img/trabajos/trabajoshero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.trabajos{
    margin: 3rem 0rem 4rem 0rem;
}